@model Blog.Entities.Dtos.UserUpdateDto
@{
    Layout = "_Layout";
    ViewBag.Title = "Profil Düzenle";
}

<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="card mt-3">
            <div class="card-header">
                <h4 class="text-center"><span class="fas fa-edit"></span> @ViewBag.Title</h4>
            </div>
            <div class="card-body">
                @* enctype="multipart/form-data" : form içerisinde hem normal verileri hemde yükleyeceğimiz resme ait verileribirlikte göndermek istiyoruz. Burada bizden farklı dosyalar bekleyeceğini söylemiş oluyoruz.  *@
                <form asp-controller="User" asp-action="ChangeDetails" enctype="multipart/form-data" id="form-user-update" method="post">

                    <div asp-validation-summary="All" class="text-danger" id="validation-summary" style="display:none;"></div>

                    <input type="hidden" asp-for="Id" />

                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input class="form-control" asp-for="UserName" placeholder="Lütfen kullanıcı adı giriniz." />
                        <span class="text-danger" asp-validation-for="UserName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input class="form-control" asp-for="Email" placeholder="Lütfen e-mail adresi giriniz." />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input class="form-control" asp-for="PhoneNumber" placeholder="Lütfen telefon numarası giriniz." />
                        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Picture"></label>
                        <input type="hidden" asp-for="Picture" />
                        <br />
                        <img class="my-image" src="~/img/userImg/@Model.Picture" alt="@Model.UserName" />
                    </div>
                    <div class="form-group">
                        <label asp-for="PictureFile"></label>
                        <input type="file" accept="image/*" class="form-control-file" asp-for="PictureFile" placeholder="Lütfen profil resmi yükleyiniz." />
                        <span class="text-danger" asp-validation-for="PictureFile"></span>
                    </div>
                    <div class="form-group">
                        @*<a class="btn btn-danger btn-block text-white" onclick="history.back()"><span class="fas fa-times"></span> İptal</a>*@
                        <a class="btn btn-danger btn-block text-white" asp-area="Admin" asp-controller="Home" asp-action="Index"><span class="fas fa-times"></span> İptal</a>
                        <button type="submit" class="btn btn-primary btn-block"><span class="fas fa-save"></span> Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
